@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  @apply text-white h-[100vh] min-w-full bg-background text-foreground;
}

/* @layer base {
  :root {
    --radius: 0.5rem;
  }
} */
